td ,th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group{
    margin: 20px 0 30px 0;
    position: relative;
}

svg{
    height: 150px;
}
td:first-of-type, td:first-of-type > div{
    height: 200px;
    width: 250px;
}

.help-block {
    color: #a94442;
    position: absolute;
    width: 100%;
    top: 34px;
    line-height: 34px;
    left: 20px;

}